<div class="main-plans plans">
	<div class="plan" data-id="free">
		<h4>Ремонт межпаннельных швов</h4>
		
		<p><i class="material-icons">check</i>Герметизация межпанельных швов</p>
		<p><i class="material-icons">check</i>Заделка межпанельных швов</p>
		<p><i class="material-icons">check</i>Утепление межпанельных швов</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Утепление стен снаружи</h4>
		
		<p><i class="material-icons">check</i>Утепление стен пеноплексом</p>
		<p><i class="material-icons">check</i>Утепление стен пенополистиролом</p>
		<p><i class="material-icons">check</i>Жидкая теплоизоляция</p>
		<p><i class="material-icons">check</i>Утепление стен монтажной пеной</p>
		<p><i class="material-icons">check</i>Утепление стен пенополиуретаном</p>
		
		
	</div>

	<div class="plan" data-id="professional">
		<h4>Старт</h4>
		<span class="price monthly-price">₽ 2000</span>
		<span class="price annual-price">₽ 4000</span>
		<p class="description">Для предпринимателей</p>

		<p><i class="material-icons">check</i>20 интервью</p>
		<p><i class="material-icons">check</i>Контакты клиентов</p>
	</div>
</div>
