<div class="main-plans plans">
	<div class="plan" data-id="free">
		<h4>Бесплатно</h4>
		<span class="price">₽ 0</span>
		<p class="description">Для начинающих</p>
		
		<p><i class="material-icons">check</i>2 интервью</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Контакты клиентов</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Стандарт</h4>
		<span class="price monthly-price">₽ 1000</span>
		<span class="price annual-price">₽ 2000</span>
		<p class="description">Для стартаперов</p>
		
		<p><i class="material-icons">check</i>10 интервью</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Контакты клиентов</p>
	</div>

	<div class="plan" data-id="professional">
		<h4>Старт</h4>
		<span class="price monthly-price">₽ 2000</span>
		<span class="price annual-price">₽ 4000</span>
		<p class="description">Для предпринимателей</p>

		<p><i class="material-icons">check</i>20 интервью</p>
		<p><i class="material-icons">check</i>Контакты клиентов</p>
	</div>
</div>
