<div class="main-plans plans">
	<div class="plan" data-id="free">
		<h4>Ремонт межпаннельных швов</h4>
		
		<p><i class="material-icons">check</i>Герметизация межпанельных швов</p>
		<p><i class="material-icons">check</i>Заделка межпанельных швов</p>
		<p><i class="material-icons">check</i>Утепление межпанельных швов</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Утепление стен снаружи</h4>
		
		<p><i class="material-icons">check</i>Утепление стен пеноплексом</p>
		<p><i class="material-icons">check</i>Утепление стен пенополистиролом</p>
		<p><i class="material-icons">check</i>Жидкая теплоизоляция</p>
		<p><i class="material-icons">check</i>Утепление стен монтажной пеной</p>
		<p><i class="material-icons">check</i>Утепление стен пенополиуретаном</p>	
	</div>

	<div class="plan" data-id="professional">
		<h4>Герметизация окон и балконов</h4>
		
		<p><i class="material-icons">check</i>Гидроизоляция балкона</p>
		<p><i class="material-icons">check</i>Скатная крыша на балкон</p>
		<p><i class="material-icons">check</i>Герметизация окон</p>
		<p><i class="material-icons">check</i>Герметизация стеклопакетов</p>
	</div>
	
	<div class="plan" data-id="free">
		<h4>Мойка фасадов зданий</h4>		
		
		<p><i class="material-icons">check</i>Мытье фасадов зданий</p>
		<p><i class="material-icons">check</i>Мытье окон на высоте</p>
		<p><i class="material-icons">check</i>Очистка фасадов зданий</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Уборка снега с крыш</h4>

		<p><i class="material-icons">check</i>Очистка кровли от снега</p>
		<p><i class="material-icons">check</i>Уборка сосулек и наледи с крыш</p>
		<p><i class="material-icons">check</i>Установка снегозадержателей</p>
		<p><i class="material-icons">check</i>Монтаж греющего кабеля</p>
		<p><i class="material-icons">check</i>Уборка крыш от мусора</p>	
	</div>

	<div class="plan" data-id="professional">
		<h4>Фасадные работы</h4>

		<p><i class="material-icons">check</i>Покраска фасада</p>
		<p><i class="material-icons">check</i>Штукатурка фасада</p>
		<p><i class="material-icons">check</i>Монтаж фасадной сетки</p>
		<p><i class="material-icons">check</i>Гидрофобизация фасада</p>
		<p><i class="material-icons">check</i>Монтаж вентилируемых фасадов</p>
		<p><i class="material-icons">check</i>Пескоструйная очистка фасада</p>
		<p><i class="material-icons">check</i>Отделка монолитных поясов</p>
	</div>
	
	<div class="plan" data-id="free">
		<h4>Кровельные работы</h4>
		
		<p><i class="material-icons">check</i>Ремонт крыши дома</p>
		<p><i class="material-icons">check</i>Устройство наплавляемой кровли</p>
		<p><i class="material-icons">check</i>Монтаж кровли из металлочерепицы</p>
		<p><i class="material-icons">check</i>Монтаж кровли из профнастила</p>
		<p><i class="material-icons">check</i>Монтаж фальцевой кровли</p>
		<p><i class="material-icons">check</i>Монтаж мягкой кровли</p>
		<p><i class="material-icons">check</i>Устройство шиферной кровли</p>
		<p><i class="material-icons">check</i>Монтаж кровли из ондулина</p>
		<p><i class="material-icons">check</i>Демонтаж кровли</p>
		<p><i class="material-icons">check</i>Монтаж конька, примыканий</p>
		<p><i class="material-icons">check</i>Монтаж водосточной системы</p>
		<p><i class="material-icons">check</i>Покраска крыши дома</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Покраска металоконструкций</h4>

		<p><i class="material-icons">check</i>Окраска металлоконструкций</p>
		<p><i class="material-icons">check</i>Огнезащитная обработка</p>
		<p><i class="material-icons">check</i>Пескоструйная обработка</p>
	</div>

	<div class="plan" data-id="professional">
		<h4>Монтаж, демонтаж металоконструкций</h4>

		<p><i class="material-icons">check</i>Монтаж металлоконструкций</p>
		<p><i class="material-icons">check</i>Изготовление металлоконструкций</p>
		<p><i class="material-icons">check</i>Монтаж башен и вышек</p>
		<p><i class="material-icons">check</i>Монтаж ангаров</p>
		<p><i class="material-icons">check</i>Монтаж дымовых труб</p>
		<p><i class="material-icons">check</i>Демонтаж металлоконструкций</p>
		<p><i class="material-icons">check</i>Демонтаж башен и дымовых труб</p>
	</div>
</div>
